<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">ADVISING EDUCATION ENROLLMENT</h1>
          <p class="lead fw-normal text-white-50 mb-0">A new approach to university admissions counseling</p>
      </div>
  </div>
</header>
<div id="secwrapper">
  <form>
    <input type="text" class="form-control" style="width: 70%;margin-left: 10%; margin-top: 1.5em; float: left;" placeholder="Tìm Kiếm...">
    <button type="submit" class="btn btn-primary" style="padding: 0.2em; margin-top: 1.5em; float: left; width: 10%; height: 2.4em;">Search</button>
  </form><br><br><br><br>
<section>
  <article id="featured" *ngFor="let item of ListOfUnis" style="width: 40%; margin-left: 6em;">
    <img [src]="item.image" style="width: 240px; height: 200px;">
    <div style="float: right; width: 20em;">
        <b>{{item.name}}</b>
        <p>Khu vực: Phía {{item.zone}}</p>
        <p>Địa Chỉ: {{item.address}}</p>
        <p>Email: {{item.email}}</p>
        <p>SĐT: {{item.phoneNumber}}</p>
        <p>Website: {{item.website}}</p>
    </div>
    <h5 style="height: 3.6em; overflow: hidden;"></h5>
    <hr><br>
    <div style="width: 100%; height: 13.8em; overflow-y: hidden; overflow-x: hidden;" innerHTML="{{item.description}}"></div>
    <hr>
    <button class="btn btn-success" style="padding:0.3em; float:right; margin-top: 0.5em;" (click)="ShowMajor(item.id)">Ngành Đào Tạo</button>
  </article>
</section>
</div>
