<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">ADVISING EDUCATION ENROLLMENT</h1>
          <p class="lead fw-normal text-white-50 mb-0">A new approach to university admissions counseling</p>
      </div>
  </div>
</header>
<div id="secwrapper">
<section>
  <article id="featured" *ngFor="let item of ListOfNews">
    <img [src]="item.thumbnail" style="width: 230px; height: 160px;">
    <br><hr>
    <h5 style="height: 3.6em; overflow: hidden;">{{item.titles}}</h5>
    <hr><br>
    <a [href]="item.url" target="_blank" class="readmore">Chi tiết</a>
  </article>
</section>
</div>
